[Unit]
Description=Maximum Discord Bot

[Service]
User=ubuntu
ExecStart=/home/ubuntu/discord-bot/start.sh
EnvironmentFile=/home/ubuntu/discord-bot/.env
Restart=always

[Install]
WantedBy=multi-user.target
